body {
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-image: url(https://s3.amazonaws.com/notebook-sessions/notebook_sessions.jpeg);
}

.login-box, .signup-box, .thoughts-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

input {
  display: block
}

.buttonsDiv {
  text-align: center!important;
  position: absolute!important;
  top: 50%!important;
  left: 50%!important;
}


button.homeLoginButton {
  width: 75px;
  height: 20px;
}

button.homeSignupButton {
  width: 75px;
  height: 20px;
} 

button {
  color: #fff;
  display: block;
  text-transform: uppercase;
  background-color: #76323F;
  border-color: #76323F;
  cursor: pointer;
  border: 1px solid transparent;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  line-height: 1.33333333;
  border-radius: 4px;
  transition: color 0.15s;
}

.nb-sess{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #76323F;
  font-size: 2.6vw;
}

.bottomDiv {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #76323F;
  font-size: 2.6vw;
}

br {
  display: block;
  margin-top: 10px;
  content: " ";
}


