div.text-box {
  float:left;
  display:block;
  width:250px;
  border:solid 1px #AAA;
  margin-right:15px;
  margin-top:10px;

  div {
    float:left;
    width:100%;
    text-align:inherit;

    >input {
        float:left;
        width:100%;
        -webkit-appearance:none;
        text-align:inherit;
        padding:@spacing;
        border:none;
        font-size:0.875em;
        background:white;
        outline:none;
    }
  }
}