div.text-box {
  float:left;
  margin-right:15px;
  margin-top:10px;

    >textarea {
        float:left;
        width:1000px;
        height:250px;
        -webkit-appearance:none;
        text-align:inherit;
        padding:@spacing;
        border:none;
        font-size:0.875em;
        background:white;
        outline:none;
    }
}
div.box-button {

    >button {
      background-color: #4CAF50;
      border:none;
      color:white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size:  16px;
    }

}